.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.app-title {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

/* Телефон */
@media (max-width: 800px) {
  .cards {
    flex-direction: column;
  }
}
